node-red_Codigo.txt
[{"id":"6c3df48c.c7da6c","type":"tcp in","z":"14c344db.0d666b","name":"","server":"server","host":"","port":"15200","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":330,"y":160,"wires":[["7f505f4a.cefe9","487a0a22.41da74"]]},{"id":"7f505f4a.cefe9","type":"debug","z":"14c344db.0d666b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":580,"y":160,"wires":[]},{"id":"487a0a22.41da74","type":"rpi-gpio out","z":"14c344db.0d666b","name":"","pin":"22","set":true,"level":"0","freq":"","out":"out","x":560,"y":240,"wires":[]}]